{% extends 'base.jinja' %}

{% block title %} Login {% endblock %}


{% block body %}
    <center> 
        <h2> You are at Login Page :) </i></h2> 
        </br>
        <form method = "post">
            <input type = "text" name = "username" id = "username" placeholder = "Username">
            <input type = "password" name = "password" id = "password" placeholder = "Password">
            <input type = "submit" value = "Login">
        </form>
    </center>
{% endblock %}