{% extends 'base.jinja' %}

{% block title %} Finance {% endblock %}


{% block body %}
    <center> <h1> Hi~ <i>{{session.get('login_user')[0]}}</i></h1> </center>
    </br>
    {# <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    Your Balance Sheet
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            Your account has $ {{session.get('login_user')[2]}}
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                            <form class="row g-3" method = "post">
                                <div class="col-auto">
                                    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="# of money change:">
                                </div>
                                <div class="col-auto">
                                    <label for="inputPassword2" class="visually-hidden">Amount of money</label>
                                    <input type="text" class="form-control" id="amount_change" name = "amount_change" placeholder="Please enter integer">
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary mb-3" name = "change" value = "change">Make Change</button>
                                </div>
                            </form>
                            <p> Enter Positive amount of money to Deposite, and vice versa </p>
                            {% if message %}
                                <p style = 'color: red'> {{message}} </p>
                            {% endif %} 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> #}

    <div class="card">
        <h5 class="card-header"> Finance </h5>
        <div class="card-body">
            <h5 class="card-title"> 
                Your account has <strong> ${{session.get('login_user')[2]}} </strong> money 
            </h5>
            <p class="card-text"> Enter Positive amount of money to Deposite, and Negative to Withdraw </p>
            <form class="row g-2" method = 'post'>
                <div class="col-auto">
                    <label for="inputPassword2" class="visually-hidden"> Amount of money </label>
                    <input type="text" class="form-control" id="amount_change" name = "amount_change" placeholder="Please enter a number">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3" name = "change" value = "change"> Make Change </button>
                </div>
            </form>
            {% if message_1 %}
                <p style = 'color: red'> {{message_1}} </p>
            {% endif %} 
        </div>
    </div>

    <div class="card">
        <h5 class="card-header"> Your Property </h5>
        <div class="card-body">
            {% if message_2 %}
                <h5 class="card-title" style = 'color: grey'> {{ message_2 }}</h5>
                </br></br>
            {% else %} 
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">LNKD</th>
                        <th scope="col">Number of Shares</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(0, n) %}
                            <tr>
                            <th scope="row"> {{i}} </th>
                            <td>{{session.get('stocks_name')[i]}}</td>
                            <td>{{session.get('stocks_shares')[i]}}</td>
                            </tr>
                        {% endfor %}
                        {# <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>@mdo</td>
                        </tr>
                        <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        </tr>
                        <tr>
                        <th scope="row">3</th>
                        <td>@twitter</td>
                        <td>sth</td>
                        </tr> #}
                    </tbody>
                </table>

            {% endif %} 
        </div>
    </div>

    <div class="card">
        <h5 class="card-header"> Stocks Search </h5>
        <div class="card-body">
            <h5 class="card-title"> 
                Search Stocks by LinkedIn Symbols
            </h5>
            <p class="card-text"> Enter the four-characters symbol to check the newest price </p>
            <form class="row g-2" method = 'post'>
                <div class="col-auto">
                    <input type="text" class="form-control" id="LNKD" name = "LNKD" placeholder="Please enter 4 char">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3" name = "search" value = "search"> Search </button>
                </div>
            </form>
            {% if message_3 %}
                {% if message_3_1 %}
                    <h6 style = 'color: green'> {{message_3}} <b> {{message_3_1}} </b> $/share </h6>
                {% else %}
                    <h6 style = 'color: red'> {{message_3}} </h6>
                {% endif %}
            {% endif %} 
        </div>
    </div>

    <div class="card">
        <h5 class="card-header"> Buy Stocks </h5>
        <div class="card-body">
            <h5 class="card-title"> 
                Buy Stocks by LinkedIn Symbols
            </h5>
            <p class="card-text"> Enter the four-characters symbol and amount of money invest to buy </p>
            <form class="row g-2" method = 'post'>
                <div class="col-auto">
                    <input type="text" class="form-control" id="LNKD_buy" name = "LNKD_buy" placeholder="Please enter 4 char">
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control" id="shares_buy" name = "shares_buy" placeholder="Enter money invest">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3" name = "buy" value = "buy"> Buy </button>
                </div>
            </form>
            {% if message_4 %}
                {% if message_4_1 %}
                    <h6 style = 'color: green'> Investment succeed! The current price of <b>{{message_4_2}}</b> is <b>{{message_4}}$/share</b>. You buy {{message_4_1}} shares of it. </h6>
                {% else %}
                    <h6 style = 'color: red'> {{message_4}} </h6>
                {% endif %}
            {% endif %} 
        </div>
    </div>

    {# <div class="card">
        <h5 class="card-header"> Stock Market </h5>
        <div class="card-body">
            <h5 class="card-title"> 
                Your account has <strong> ${{session.get('login_user')[2]}} </strong> money 
            </h5>
            <p class="card-text"> Enter Positive amount of money to Deposite, and Negative to Withdraw </p>
            <form class="row g-2" method = 'post'>
                <div class="col-auto">
                    <label for="inputPassword2" class="visually-hidden"> Amount of money </label>
                    <input type="text" class="form-control" id="amount_change" name = "amount_change" placeholder="Please enter integer">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3" name = "change" value = "change"> Make Change </button>
                </div>
            </form>
            {% if message_2 %}
                <p style = 'color: red'> {{message_2}} </p>
            {% endif %} 
        </div>
    </div> #}


    <form method = "post"> <button type="submit" class="btn btn-outline-secondary" name = 'exit' value = 'exit'> Exit Account </button> </form>

    
{% endblock %}