{% extends 'base.jinja' %}

{% block title %} Homepage {% endblock %}


{% block body %}


    <h2> Welcome to Home Page</h2>
    </br>
    <a href="{{url_for('game')}}" class="btn btn-primary">Play New Game</a>

{% endblock %}