<title> Register </title>

<body>
    <center>
        <h1> Register Page </h1>
        <form method = 'post'>
            {% csrf_token %}
            <input type = 'text' name = 'firstname' placeholder = 'firstname'>
            <input type = 'text' name = 'lastname' placeholder = 'lastname'>
            <input type = 'text' name = 'password' placeholder = 'password'>
            <input type = 'text' name = 'origin_country' placeholder = 'origin_country'>
            <input type = 'submit' name = 'register'>
        </form>

        <p style = 'color: red'> {{message}} </p>
    </center>

</body>